{% extends getPartial('page-design') %}

{% import "Ceres::PageDesign.Macros.LayoutContainer" as LayoutContainer %}

{% block PartialHead %}
    <meta name="description" content="{{ trans('Ceres::Template.privacyPolicyMetaDescription') }}">
    <meta name="robots" content="{{ config("Ceres.meta.robots_privacy_policy") }}">
    <title>{{ trans("Ceres::Template.privacyPolicy", {"hyphen": ""}) }} | {{ trans("Ceres::Template.headerCompanyName") }}</title>
{% endblock %}

{% block PageBody %}

    {% set privacyPolicy = services.legalInformation.getPrivacyPolicy() %}

    <div class="container-fluid jg-infobar">
       <div class="d-flex justify-content-center"><span>DESIGN &amp; ENTWICKLUNG IN DEUTSCHLAND</span></div>
     </div>

     <div class="d-none d-sm-block">
       <img src="https://cdn02.plentymarkets.com/vdi6bjgy8ov1/frontend/webshop/teaser-image-6.jpg" style="width:100%"/>
     </div>

     <div class="d-block d-sm-none">
       <img src="https://cdn02.plentymarkets.com/vdi6bjgy8ov1/frontend/webshop/teaser-image-6-xs.jpg" style="width:100%"/>
     </div>

    <div class="container-max page-content contact">
        <div class="row">
            <div class="col-12">
                {% autoescape false %}
                    <h1>{{ trans("Ceres::Template.privacyPolicy", {"hyphen": "&shy;"}) }}</h1>
                {% endautoescape %}
                <hr>
                {% if privacyPolicy.htmlText %}
                    {{ privacyPolicy.htmlText | raw }}
                {% else %}
                    <p class="static-page-plain-text">{{ privacyPolicy.plainText }}</p>
                {% endif %}

                {{ LayoutContainer.show("Ceres::StaticPages.PrivacyPolicy") }}
            </div>
        </div>
    </div>

{% endblock %}
