{% extends getPartial('page-design') %}

{% block PartialHead %}
    <meta name="robots" content="NOINDEX, NOFOLLOW">
    <title>{{ trans("Ceres::Template.login") }} | {{ trans("Ceres::Template.headerCompanyName") }}</title>
{% endblock %}

{% block PageBody %}

  <div class="d-none d-sm-block">
    <img src="https://cdn02.plentymarkets.com/vdi6bjgy8ov1/frontend/webshop/teaser-image-4.jpg" style="width:100%"/>
  </div>

  <div class="d-block d-sm-none">
    <img src="https://cdn02.plentymarkets.com/vdi6bjgy8ov1/frontend/webshop/teaser-image-4-xs.jpg" style="width:100%"/>
  </div>

    {{ component( "Ceres::Customer.Components.LoginView") }}
    {{ component( "Ceres::Customer.Components.Login") }}
    {{ component( "Ceres::Customer.Components.GuestLogin") }}

    <login-view template="#vue-login-view"></login-view>
{% endblock %}
